<% if flash[:notice]%> 

<div class="flash_notice"><%= flash[:notice]%> </div>

<% end %>
<%= form_tag(:controller=>"employee",:action=>"update_password")  %>

 <h1>Enter here to change the password</h1><br><br/>
 <div id=form>
   <table cellspacing="8">
     <tr>	
       <td>Old Password*:</td><td><%=password_field :employee_detail, :old_password ,:size=>20%></td></tr>
     <tr>
       <td>New Password*:</td><td><%=password_field :employee_detail,:password,:size=>20%></td></tr>
     <tr>
       <td>Confirm Password*:</td><td><%=password_field :employee_detail,:confirm_password,:size=>20%></td></tr>
     <tr>
       <td></td><td class="align"><%= submit_tag("Save") %></td></tr>
   </table>
 </div>
