
<% if flash[:notice]%> 

<div class="flash_notice"><%= flash[:notice]%> </div>

<% end %>

<div class="reset_form">
<%= form_tag(:controller=>"employee",:action=>"own_password")  %>
 <h1 align="center">Enter here to change the password</h1>
 <div id=form>
   <table cellspacing="8"> 
   <tr>
       <td>Reset Password Code*:</td><td><%=password_field :employee_detail,:reset_password_code,:size=>20%></td></tr>
     <tr>   
     <tr>
       <td>New Password*:</td><td><%=password_field :employee_detail,:password,:size=>20%></td></tr>
     <tr>
       <td>Confirm Password*:</td><td><%=password_field :employee_detail,:confirm_password,:size=>20%></td></tr>
     <tr>
       <td></td><td class="align"><%= submit_tag("Save") %></td></tr>
   </table>
 </div>
</div>  

<style>
.reset_form{ }
</style>
