
<!--h3>Documents</h3>
<table align="center">
	
	<tr>
		<td>Company Leased Accomodation Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP01" %></td>
	</tr>
	<tr>
		<td>Entertainment Expenses Claim policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP02" %></td>
	</tr>
	<tr>
		<td>Provident Fund policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP03" %></td>
	</tr>
	<tr>
		<td>Incentive Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP04" %></td>
	</tr>
	<tr>
		<td>House deposit Loan Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP05" %></td>
	</tr>
	<tr>
		<td>Salary Advances Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP06" %></td>
	</tr>
	<tr>
		<td>Loss Theft policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP07" %></td>
	</tr>
	<tr>
		<td>Relocation Allowance Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP08" %></td>
	</tr>
	<tr>
		<td>Awards policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP09" %></td>
	</tr>
	<tr>
		<td>Company Gifts policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP010" %></td>
	</tr>
	<tr>
		<td>Marriage Gift policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP011" %></td>
	</tr>
	<tr>
		<td>Master Health Checkup policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP012" %></td>
	</tr>
	<tr>
		<td>Recognition and Rewards policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP013" %></td>
	</tr>
	<tr>
		<td>Training policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP014" %></td>
	</tr>
	<tr>
		<td>Working hours policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP015" %></td>
	</tr>
	<tr>
		<td>Public Holidays policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP016" %></td>
	</tr>
	<tr>
		<td>Leave Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP017" %></td>
	</tr>
	<tr>
		<td>Employee Handbook</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP018" %></td>
	</tr>
	<tr>
		<td>Code of Business Ethics Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP019" %></td>
	</tr>
	<tr>
		<td>Employee Conduct Discipline Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP020" %></td>
	</tr>
	<tr>
		<td>Employee Information and Changes Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP021" %></td>
	</tr>
	<tr>
		<td>Employee Records Management</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP022" %></td>
	</tr>
	<tr>
		<td>Staffing</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP023" %></td>
	</tr>
	<tr>
		<td>Equal Employment Opportunities</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP024" %></td>
	</tr>
	<tr>
		<td>Employee Referal Scheme</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP025" %></td>
	</tr>
	<tr>
		<td>Confirmation Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP026" %></td>
	</tr>
	<tr>
		<td>Performance Review Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP027" %></td>
	</tr>
	<tr>
		<td>promotions</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP028" %></td>
	</tr>
	<tr>
		<td>Termination Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP029" %></td>
	</tr>
	<tr>
		<td>Retirement Policy</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP030" %></td>
	</tr>
	<tr>
		<td>Signing of Bond</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP031" %></td>
	</tr>
	<tr>
		<td>Salary Structure</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP032" %></td>
	</tr>
	<tr>
		<td>Salary Payment</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP033" %></td>
	</tr>
	<tr>
		<td>Reimbursement of Expenses</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP034" %></td>
	</tr>
	<tr>
		<td>Transportation during exigencies</td>
		<td><%= link_to 'DOWNLOAD' ,:controller=>"upload", :action=>"download_form" ,:name=>"HRP035" %></td>
	</tr>
	
</table--!>

